<div>
    <div id="map" leaflet 
    (leafletMapReady)="initializeMap($event)" 
    [leafletOptions]="options"
      (leafletClick)="onMapClick($event)">
      <!-- champs de recherche point A-->
      <div class="leaflet-bottom leaflet-left">
        <app-geocoding (onSearch)="refreshSearchList($event)"></app-geocoding>
      </div>
    </div>
  </div>
  <!-- liste du champs de la recherche-->
  <div id="details-panel">
    <app-map-point-form [choiceResult]="'result-one'" [mapPoint]="mapPoint"></app-map-point-form>
    <app-results-list [choiceResult]="'result-one'" [results]="results" (locationSelected)="getAddress($event,1)">
    </app-results-list>
  </div>
  
  
  <!-- champs de recherche point B-->
  <div class="leaflet-bottom leaflet-left">
    <p>Second point champs</p>
    <app-geocoding (onSearch2)="refreshSearchList2($event)"></app-geocoding>
    <!-- liste du champs de la recherche-->
    <div id="details-panel">
      <app-map-point-form  [choiceResult]="'result-two'"  [mapPoint2]="mapPoint2"></app-map-point-form>
      <app-results-list [choiceResult]="'result-two'" [results2]="results2" (locationSelected2)="getAddress($event,2)">
      </app-results-list>
  
    </div>
  </div>